@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Dancing+Script:wght@600&family=Lato&display=swap');
html{
  scroll-behavior: smooth;
}
body{
    /*font-family: 'B612 Mono', monospace;*/
   font-family: 'Lato', sans-serif;
}
hr{
  margin-top: 3.5rem;
  border-style: none;
  border-top-style: solid;
  border-color: grey;
  width: 10rem;
  border-width: 5px;
}

/*.dark-mode{
  background-color: black;
  color: white;
}
*/

/*Navigation Bar*/

.navbar{
    /* 1 rem = 16px */
    height: auto;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    padding: 1rem 1rem;
    padding-left: 2rem;
    /*height: 3rem;*/
    font-weight: 600;
    font-size: 2.0rem;
}
/*.nav-link:hover,
.nav-link:active{
  font-size:1.5rem;
}
*/
/*Navigation Bar End*/


/* Landing */

.caption{
  margin-right: auto;
  margin-left: auto;
  margin-top: 8rem;
  text-align: center;
  /*margin-bottom: 3rem;*/
}

.landing-image{
    margin-top:auto;
    margin-bottom: auto;
}
.img-fluid{
    width: 18.5rem;
    height: auto;
    border-radius: 50%;
}
.landing-heading{
    margin-top: auto;
    margin-bottom: auto;
}
.landing-intro{
    margin-top: 1rem;
    font-size: 1.75rem;
}
/* Landing End*/


/* About */

.about-text{
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
  letter-spacing: .07rem;
}

.about-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: auto auto;
}
/* About End*/

/* Skills */

.progress{
  margin: 1rem 2rem;
  height: 1.2rem;
}
.skills-row{
  margin: 2rem 1.5rem;
}

/* Skills */

/* Connect */

.connect-row{
  margin: 3rem auto;
}

.connect-text{
  font-size: 1.8rem;
  text-align: center;
}

#connect-info{
  font-size:1.1rem;
  background-color:  #343a40;
  letter-spacing: .2rem;
  border-radius: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#connect-info:hover {
  cursor: pointer;
}
.form-text{
     font-size: 1.8rem;
}

.btn{
  width:8rem;
  height: 3rem;
}

.form-input{
  border-width: .15rem;
  border-color: #343a40;
}

/* Connect End */

/* Links Section */

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:active{
 text-decoration: none;
  color: inherit;
}

/* Links Section End*/

/* Footer */

#footer{

  letter-spacing: .1rem;
  padding-top: 5rem;
}
